.container {
  background-color: rgb(243 243 247);
  height: 500px;
  width: 400px;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 5%;
}

.container ul {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
