:root {
  --background-color: rgb(255, 240, 230);
}

.pizzaList {
  margin-top: 150px;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.pizzaCard {
  height: 500px;
  width: 300px;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pizzaCard img {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: translateY(0px);
}
.pizzaCard img:hover {
  transform: translateY(5px);
}

.pizzaCard h3 {
  margin: 15px 0px;
  width: 100%;
  color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: start;
  line-height: 24px;
  font-family: system-ui, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
}

.pizzaCard p {
  font-size: 14px;
  line-height: 20px;
  font-family: system-ui, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: rgb(92, 99, 112);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pizzaCard__footer {
  margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pizzaCard__price {
  padding-right: 4px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-family: system-ui, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 600;
  line-height: 24px;
}
.pizzaCard__footer button {
  height: 40px;
  min-width: 120px;
  padding: 8px 20px;
  font-size: 16px;
  line-height: 24px;
  background-color: rgb(255, 240, 230);
  color: rgb(209, 87, 0);
  outline: none;
  border: none;
  border-radius: 9999px;
  text-align: center;
  font-family: system-ui, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 500;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  transition-property: background-color, color;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
}

.pizzaCard__footer button:hover {
  background-color: rgb(244, 193, 157);
}

.modalStyle {
  height: 500px !important;
}
.orderItem {
  display: flex;
  align-items: center;
}

.orderItem_options {
  padding: 20px 200px;
}
.picca_size,
.doughThickness {
  border-radius: 9999px;
  background-color: rgb(243, 243, 247);
  height: 32px;
  display: flex;
  overflow: hidden;
  margin: 8px 0px;
}

label {
  border-radius: 9999px;
  flex: 0%;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 12px;
  line-height: 32px;
  font-family: system-ui, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: normal;
  text-align: center;
  height: 32px;

  transition: color 150ms ease 0s;
}

label:hover {
  background-color: #fff;
  height: 29px;
  margin: 2px;
  box-shadow: -2px 1px 20px -8px rgba(0, 0, 0, 0.73);
}

input {
  display: none;
}

.focusBtn {
  background-color: #fff;
  height: 29px;
  margin: 2px;
  box-shadow: -2px 1px 20px -8px rgba(0, 0, 0, 0.73);
}
.btnOrderToCart {
  background-color: rgb(255, 105, 0);
  border: 5px solid rgba(7, 3, 0, 0);
  border-radius: 9999px;
  width: 400px;
  height: 48px;
  font-size: 16px;
}
